<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<nav>
    <ul>
        <li>
            <a href = "index">Калькулятор</a>
        </li>
        <li>
            <a href = "info">Информация</a>
        </li>
    </ul>
</nav>
<main>
    <section id="info-section">
        <h1>Информация об углеродном следе</h1>
        <p>Углеродный след - это общее количество парниковых газов, включая углекислый газ, которые прямо или косвенно выбрасываются в атмосферу человеком, организацией, событием или продуктом. Он измеряется в эквиваленте CO2 (CO2e) и включает выбросы от различных источников, таких как транспорт, производство электроэнергии, сельское хозяйство и промышленность.</p>
        <h2>Почему это важно?</h2>
        <p>Понимание и уменьшение вашего углеродного следа важно для борьбы с изменением климата. Парниковые газы способствуют глобальному потеплению, что приводит к экстремальным погодным условиям, повышению уровня моря и другим экологическим проблемам. Сокращая свой углеродный след, вы можете помочь уменьшить воздействие на окружающую среду и способствовать устойчивому будущему.</p>
        <h2>Как уменьшить углеродный след?</h2>
        <ul>
            <li>Используйте общественный транспорт, ездите на велосипеде или ходите пешком вместо использования личного автомобиля.</li>
            <li>Переходите на возобновляемые источники энергии для вашего дома, такие как солнечная или ветровая энергия.</li>
            <li>Сократите потребление мяса и молочных продуктов, так как животноводство является значительным источником выбросов парниковых газов.</li>
            <li>Уменьшайте, повторно используйте и перерабатывайте материалы, чтобы сократить отходы.</li>
            <li>Поддерживайте компании и продукты с низким уровнем выбросов углерода.</li>
        </ul>
        <p>Каждый из нас может внести свой вклад в сокращение углеродного следа. Маленькие изменения в повседневной жизни могут привести к значительным улучшениям для нашей планеты.</p>

    </section>
</main>
</html>